<h1 class="text-success text-center">Welcome to Reynolds Farm Equipment!</h1>
<div class="row-fluid">
	<div class="span6 pagination-centered" style="padding-top: 20px;"><button class="btn btn-large btn-success" type="button" style="width: 250px;">The Reynolds Story</button></div>
	<div class="span6 pagination-centered" style="padding-top: 20px;"><button class="btn btn-large btn-success" type="button" style="width: 250px;">Sign Up for Deals</button></div>
</div>
<div class="row-fluid">
	<div class="span6 pagination-centered" style="padding-top: 20px;"><button class="btn btn-large btn-success" type="button" style="width: 250px;">Games for Kids</button></div>
	<div class="span6 pagination-centered" style="padding-top: 20px;"><button class="btn btn-large btn-success" type="button" style="width: 250px;">Reynolds News</button></div>
</div>
<div class="row-fluid">
	<div class="span6 pagination-centered" style="padding-top: 20px;"><button class="btn btn-large btn-success" type="button" style="width: 250px;">John Deere Swag</button></div>
	<div class="span6 pagination-centered" style="padding-top: 20px;"><button class="btn btn-large btn-success" type="button" style="width: 250px;">Used Equipment</button></div>
</div>
<div class="row-fluid">
	<div class="span6 pagination-centered" style="padding-top: 20px;"><button class="btn btn-large btn-success" type="button" style="width: 250px;">Feature Videos</button></div>
	<div class="span6 pagination-centered" style="padding-top: 20px;"><button class="btn btn-large btn-success" type="button" style="width: 250px;">Product Brochures</button></div>
</div>