<h1 class="text-success text-center">Welcome to Reynolds Farm Equipment!</h1>
<div class="row-fluid">
	<div class="span6 pagination-centered" style="padding-top: 20px;"><a class="btn btn-large btn-success" type="button" style="width: 250px;">The Reynolds Story</a></div>
	<div class="span6 pagination-centered" style="padding-top: 20px;"><a href="<%=new_reynolds_marketing_path%>" class="btn btn-large btn-success" type="button" style="width: 250px;">Sign Up for Deals</a></div>
</div>
<div class="row-fluid">
	<div class="span6 pagination-centered" style="padding-top: 20px;"><a class="btn btn-large btn-success" type="button" style="width: 250px;">Games for Kids</a></div>
	<div class="span6 pagination-centered" style="padding-top: 20px;"><a class="btn btn-large btn-success" type="button" style="width: 250px;">Reynolds News</a></div>
</div>
<div class="row-fluid">
	<div class="span6 pagination-centered" style="padding-top: 20px;"><a class="btn btn-large btn-success" type="button" style="width: 250px;">John Deere Swag</a></div>
	<div class="span6 pagination-centered" style="padding-top: 20px;"><a class="btn btn-large btn-success" type="button" style="width: 250px;">Used Equipment</a></div>
</div>
<div class="row-fluid">
	<div class="span6 pagination-centered" style="padding-top: 20px;"><a class="btn btn-large btn-success" type="button" style="width: 250px;">Feature Videos</a></div>
	<div class="span6 pagination-centered" style="padding-top: 20px;"><a class="btn btn-large btn-success" type="button" style="width: 250px;">Product Brochures</a></div>
</div>