<div class="pagination-centered">
	<%=link_to image_tag("webbanner_statefair.jpg"), url_for({:controller => 'reynolds_marketings', :action => 'new'}) %>
</div>
<div class="pagination-centered">
	<%=link_to image_tag("gator_web_banner.jpg"), "http://www.reynoldsfarmequipment.com/product/RSX850i-" %>
</div>
<div class="pagination-centered">
	<%=link_to image_tag("webbanner_demosale.jpg"), url_for({:controller => 'reynolds_marketings', :action => 'new'}) %>
</div>
