<div class="pagination-centered">
	<%= image_tag "gator_web_banner.jpg" %>
</div>
<div class="pagination-centered">
	<%= image_tag "webbanner_demosale.jpg" %>
</div>
<div class="pagination-centered">
	<%= image_tag "webbanner_statefair.jpg" %>
</div>

