<h1>Listing reynolds_marketings</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Receive texts</th>
    <th>Receive emails</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reynolds_marketings.each do |reynolds_marketing| %>
  
<% end %>
</table>

<br />

<%= link_to 'New Reynolds marketing', new_reynolds_marketing_path %>
